.title {
  height: 5%;
  margin-top: 2%;
  margin-left: 2%;
  color: var(--primary-colour);
  font-size: 25px;
  font-family: Gabarito;
  margin-bottom: 2%;
}

#add-recipe-button {
  border-bottom: 2px var(--primary-colour) solid;
  background-color: var(--grey-one-colour);
}

.mainBg {
  background-color: var(--dark-one-colour);
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 950px;
}

.addRecipeMsg {
  padding: 20px 10px;
  display: block;
}

/* #shopping-list {
  height: 100%;
} */

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  margin-top: 8vh;
  min-height: 92%;
  min-width: 900px;
  width: 70%;
  background-color: var(--grey-one-colour);
}

.center-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

#list-container-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-container {
  width: 100%;
  display: flex;
  font-family: Gabarito;
  color: var(--light-text-colour);
}

.add-recipe-form {
  height: 100%;
  width: 100%;
  font-size: 17px;
}

#left-recipe-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#right-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.details-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
}

.name-description-container {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: -20px;
}

.justify-left {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-left: 4%;
}

.details-text {
  border-radius: 13px;
  height: 4vh;
  max-height: 30px;
  min-width: 300px;
  width: 90%;
  border-width: 1px;
  padding: 2% 5%;
  font-family: inherit;
  font-size: inherit;
  border-style: solid;
  background-color: inherit;
}

.details {
  font-size: 35px;
  font-family: Gabarito;
  margin-top: -4%;
  font-weight: normal;
}

.resizable-p {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input,
.textarea {
  border: 1px solid var(--light-text-colour);
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.textarea {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  min-height: 70px;
  line-height: 20px;
  /* max-width: 200px; */
}

.textarea[contenteditable]:empty:before {
  content: "Add a description";
  color: gray;
}

.step-item .textarea[contenteditable]:empty:before {
  content: "Add a step";
}

.step-item .name {
  font-size: 22px;
  margin-bottom: -6%;
  margin-top: -2%;
}

/* .step-input {
  margin-right: 10px;
} */

.number-column-container {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.small-row-container {
  height: 100%;
  width: 90%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/************************************************/
/*               FORM TEXT STYLES               */
/************************************************/

.input-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: right;
}

.time-label {
  position: absolute;
  font-size: inherit;
  font-family: inherit;
  color: gray;
  user-select: none;
  z-index: 1;
  right: 10px;
}

.detail-name {
  font-size: 20px;
  white-space: nowrap;
  margin-right: 20px;
}

.servings-name {
  font-size: 20px;
  padding-right: 8%;
}

.details-input {
  border-radius: 9px;
  min-width: 200px;
  /* max-width: 00px; */
  width: 90%;
  border: solid 1px var(--light-button-hover);
  padding: 3% 5%;
  background-color: inherit;
  font-family: inherit;
  color: var(--light-text-colour);
  font-size: inherit;
}

.small-details-input {
  font-size: inherit;
  font-family: inherit;
  width: 75px;
  min-width: 68px;
  height: 28px;
  background-color: inherit;
  margin-right: 3%;
  border-style: solid;
  border-width: 1px;
  border-color: var(--light-button-hover);
  color: var(--light-text-colour);
  padding-left: 7px;
  z-index: 2;
}

.recipe-name-input {
  max-height: 40px;
  min-height: 25px;
}

.details {
  color: var(--light-text-colour);
  font-size: 35px;
  font-family: Gabarito;
  margin-top: -4%;
}

.inputbox-2number {
  /* width: 170px; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputbox-number {
  width: 50%;
  max-width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-transition {
  transition: border-color 0.3s ease;
}

.input-transition:hover {
  border-color: var(--textbox-hover);
}

.input-transition:focus {
  border-color: var(--primary-colour);
  outline: none;
}

.inputbox-number .small-details-input {
  padding: 0 3%;
}

/* Remove arrows from number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-item {
  display: flex;
  justify-content: center;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-file-input {
  border: 2px solid var(--primary-colour);
  padding: 6px 10px;
  border-radius: 15px;
  background-color: transparent;
  color: var(--light-text-colour);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.custom-file-input:hover {
  background-color: var(--grey-two-colour);
}

.image-input {
  display: none;
}

#temp-img {
  width: 1px;
  height: auto;
  display: none;
}

.display-image img {
  height: 215px;
  max-width: 380px;
  object-fit: cover;
  border-radius: 10px;
  border-width: 2px;
  border-color: var(--light-button-hover);
  border-style: solid;
  z-index: 1;
}

.close {
  position: absolute;
  z-index: 2;
  height: 20px;
  width: auto;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.image-container {
  position: relative;
}

.submit-button {
  margin-bottom: 5%;
  border-radius: 10px;
  font-size: 18px;
  font-family: Gabarito;
  height: 45px;
  width: 55px;
  min-width: 80px;
  border: 2px solid var(--primary-colour);
  background-color: var(--grey-one-colour);
  color: var(--light-text-colour);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--grey-two-colour);
}

/* Ingredient CSS */
#list-container-ingredients::before {
  content: "";
  display: block;
  border-top: 2px var(--primary-colour);
  margin-bottom: 3%;
}

#list-container-ingredients {
  gap: 12px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.ingredient-title {
  border-width: 1px;
  border-color: var(--primary-colour);
}

.ingredient-row-container {
  margin-top: 8px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.ingredient-input {
  border: 1px solid var(--light-button-hover);
  background-color: inherit;
  border-radius: 7px;
  height: 0px;
  font-family: Gabarito;
  color: var(--light-text-colour);
  padding: 0 3%;
  font-size: inherit;
  transition: height 0.05s ease-out, border-color 0.3s ease;
}

.ingredient-name {
  width: 42%;
  min-width: 130px;
}

.ingredient-amount {
  width: 22%;
  min-width: 60px;
}

.unit-input {
  margin-right: 2%;
  width: 100%;
  padding: 0 16%;
  font-size: inherit;
  min-width: 60px;
}

.ingredient-animation {
  height: 32px;
}

.plus-button {
  border-radius: 7px;
  border-width: 0;
  height: 27px;
  width: 27px;
  font-size: 24px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.plus-button:hover {
  background-color: var(--grey-two-colour);
}

.number-container {
  width: 27px;
}

.step-item {
  width: 90%;
  height: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4%;
  transition: min-height 0.05s ease-out;
}

#list-container-steps {
  gap: 12px;
  display: flex;
  align-items: center;
}

.form-heading {
  margin-bottom: 0;
  font-size: 30px;
}

.step-item .textarea {
  font-size: 17px;
  width: 80%;
  min-height: 0;
  transition: min-height 0.05s ease-out, border-color 0.2s ease;
}

.textarea-animation {
  min-height: 70px !important;
  padding: 3% 5%;
}

.step-container-animation {
  height: 100% !important;
}

.step-number {
  font-size: 25px;
  /* margin-right: 10px; */
  width: 20px;
}

fieldset {
  border: none;
  width: 60px;
  display: flex;
  align-items: flex-start;
}

datalist {
  position: absolute;
  background-color: var(--dark-one-colour);
  /* border: 1px solid blue; */
  border-radius: 0 0 5px 5px;
  border-top: none;
  width: 70px;
  font-family: sans-serif;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
  margin-top: 34px;
}

option {
  background-color: var(--dark-two-colour);
  padding: 4px;
  color: var(--light-text-colour);
  margin-bottom: 1px;
  font-size: 16px;
  cursor: pointer;
  font-family: Gabarito;
}

datalist::-webkit-scrollbar {
  width: 0;
}

option:hover,
.active {
  background-color: var(--grey-two-colour);
}

.input-error {
  border-color: var(--error-colour) !important;
}

.input-error.plus-button {
  border-width: 2px;
  border-style: solid;
}

/* Successful Upload */
.addrecipe-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  overflow-y: auto;
  /* overflow: visible !important; */
}

.addrecipe-modal-content {
  background-color: var(--grey-one-colour);
  margin: 6% auto;
  padding: 20px;
  border: 1px solid var(--grey-two-colour);
  width: 300px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Gabarito;
  color: var(--light-text-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 35px;
  border-radius: 25px;
  position: relative;
}

.addrecipe-modal-content .submit-button {
  min-height: 40px;
}

.show-done-button {
  display: flex !important;
}

/* sign in modal */

#signin-content {
  height: 250px;
  width: 500px;
}

#signin-button {
  height: 70px;
  width: 150px;
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
  .mainBg {
    min-width: 0px;
  }

  .overlay {
    width: 90%;
    min-width: 0px;
  }

  #list-container-ingredients {
    width: 80%;
  }

  .ingredient-row-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 260px;
  }

  .ingredient-row-container_add .ingredient-name {
    width: 242px;
  }

  .ingredient-row-container_add .ingredient-amount {
    width: 100px;
  }
  .ingredient-row-container_add .unit-input {
    width: 100px;
  }

  .display-image img {
    height: 200px;
    max-width: 300px;
  }
}

@media only screen and (max-width: 699px) {
  .mainBg {
    min-width: 0px;
  }

  .overlay {
    width: 90%;
    min-width: 0px;
  }
  .title {
    font-size: 20px;
  }
  .column-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .name-description-container {
    width: 90%;
    margin-top: 10px;
  }

  .number-column-container {
    width: 90%;
  }

  #left-recipe-form {
    width: 90%;
  }

  .details-form .form-heading {
    margin-bottom: 5px;
  }

  #right-recipe-form {
    width: 90%;
  }
  .ingredient-row-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 260px;
  }

  .ingredient-row-container_add .ingredient-name {
    width: 242px;
  }

  .ingredient-row-container_add .ingredient-amount {
    width: 100px;
  }
  .ingredient-row-container_add .unit-input {
    width: 100px;
  }

  .submit-button {
    margin-top: 25px;
  }

  #details-title {
    display: none;
  }

  .display-image img {
    height: 180px;
    max-width: 300px;
  }
}
