* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  /* pointer-events: none; */
}

/* NAVBAR */

/* .mainBg {
  padding-top: 7vh;
} */

.main-nav {
  padding-right: 6.1px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-one-colour);
  border-bottom: 1px var(--nav-border) solid;
  /* box-shadow: 0 4px 13px -7px var(--light-button-hover); remove this shit if it looks dumb */
  height: 55px;
  width: 100vw;
  z-index: 11;
}

.nav-list {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: var(--light-text-colour);
  height: 100%;
  font-size: 18px;
  z-index: 2;
}

.nav-list-link:visited {
  color: var(--light-text-colour);
}

.nav-list .nav-list-link:hover {
  background-color: var(--grey-one-colour);
  cursor: pointer;
}

.nav-list-item {
  user-select: none;
}

.nav-list-link {
  font-family: Gabarito;
  height: 100%;
  align-items: center;
  display: flex;
  gap: 20px;
  height: 100%;
  padding: 0px 30px;
  border-radius: 7px;
  transition: background-color 0.15s;
}

.nav-list-link {
  height: 100%;
}

.mobile-nav {
  display: none;
}

.nav-toggle {
  display: none;
  position: fixed;
  height: 50px;
  width: 50px;
  color: var(--light-text-colour);
  border: 0px;
  background-repeat: no-repeat;
  z-index: 100;
}

#pfp-nav {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px var(--primary-colour) solid;
}

.logo {
  height: 100%;
  cursor: pointer;
}

.user-menu {
  display: block;
  position: fixed;
  top: 58px;
  right: 10px;
  height: 0;
  width: 166px;
  margin-top: 6px;
  margin-left: 89%;
  background: var(--dark-two-colour);
  border-radius: 8px;
  transition: height 0.1s ease;
  overflow: hidden;
  user-select: none;
  border-color: var(--nav-border);
  border-style: solid;
  border-width: 0;
  z-index: 999;
}

.user-menu-list {
  position: relative;
  height: 100%;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  list-style-type: none;
  font-size: 17px;
  border-radius: 8px;
}

.user-menu-list-item svg {
  width: 20px;
  height: 20px;
  stroke: var(--light-colour);
}

.user-menu-list-item {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  color: var(--light-text-colour);
  font-family: Gabarito;
  border-radius: 8px;
  /* transition: background-color 0.15s, opacity 0.1s ease-in-out; */
  /* opacity: 0; */
}

.user-menu-list-item:hover {
  background-color: var(--grey-two-colour);
}

.user-menu-button-maintain-hover {
  background-color: var(--grey-two-colour) !important;
}

.user-menu-appear {
  height: 136px;
}

/* .user-menu-item-appear {
  opacity: 1 !important;
  transition-delay: 0.015s;
} */

/* .user-menu-item-block {
  display: block !important;
} */

/* .user-menu-list a {
  all: unset;
} */

/* SCROLLBAR */

::-webkit-scrollbar-thumb {
  background: var(--grey-one-colour);
  border-radius: 10px;
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grey-one-colour);
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-one-colour);
  z-index: 1;
  height: 90vh;
}

/* TEXT */

@media only screen and (max-width: 699px) {
  .main-nav {
    height: 60px;
    min-height: 60px;
  }

  .nav-list {
    position: fixed;
    height: 100vh;
    max-height: 10000px;
    width: 80%;
    top: 0px;
    left: 20%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: blue;
    padding-top: 30%;
    padding-left: 2rem;
    font-size: 24px;
    transform: translateX(101%);
    transition: transform 0.3s ease-out;
    background: hsla(0, 0%, 0%, 0.808);
    backdrop-filter: blur(4rem);
  }

  .nav-list[mobile-visible="true"] {
    transform: translateX(0%);
  }

  .nav-list-link {
    display: block;
    height: 40px;
    margin: 20px 0;
    width: 80%;
  }

  .nav-toggle {
    display: block;
    right: 20px;
    top: 5px;
  }

  .mobile-nav {
    display: block;
  }

  .mobile-nav-account {
    order: -1;
    display: none;
  }

  .light-nav-list {
    background: hsla(0, 0%, 100%, 0.4) !important;
  }
}

.loader {
  z-index: 9999;
  color: var(--primary-colour);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
