body {
  font-family: Gabarito;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background: var(--grey-one-colour);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 550px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  width: 400px;
}

input {
  background: var(--grey-one-colour);
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 12px 15px;
  margin: 8px 0;
  border: 2px solid var(--light-colour);
  transition: outline 0.2s ease;
  outline: none;
}

input:hover {
  border-color: white;
}

input:focus {
  border-color: var(--primary-colour);
}
.reset-password-btn:hover {
  transform: scale(101%);
}

.input-field {
  width: 80%;
  max-width: 300px;
}

form h1 {
  margin-bottom: 10px;
}

.reset-password-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  border-radius: 50px;
  /* box-shadow: 0 1px 1px; */
  /* border: 1px solid var(--primary-colour); */
  border: none;
  background-color: var(--primary-colour);
  color: var(--light-colour);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

#message {
  color: var(--light-colour);
}

#back-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  /* stroke: var(--light-colour); */
  width: 50px;
  height: 50px;
  /* font-size: 32px; */
  border: solid 3px var(--light-colour);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

#back-icon:hover {
  background-color: var(--light-low-opacity-colour);
}

#back-icon svg {
  stroke: var(--light-colour);
}

@media only screen and (max-width: 759px) {
  form {
    padding: 0;
    width: 80vw;
    height: 50vh;
  }
}
