body {
  position: relative;
  font-family: Gabarito;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--dark-two-colour);
}

h1 {
  font-weight: bold;
  margin: 0;
  color: var(--light-colour);
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: var(--light-colour);
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  width: 7%;
}

#fork {
  z-index: 0;
  top: -200px;
  right: 60px;
  position: absolute;
  stroke: var(--svg-colour);
  stroke-width: 4px;
  animation: bobbing 3s infinite;
}

#book {
  z-index: 0;
  bottom: 80px;
  left: 50px;
  position: absolute;
  stroke: var(--svg-colour);
  stroke-width: 4px;
  animation: shaking 3s infinite;
}

.container {
  /* z-index: 3; */
  background: var(--grey-one-colour);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  opacity: 85%;
  width: 70%;
  height: 75%;
  max-width: 100%;
  max-height: 100%;
  transition: 333ms;
  min-width: 880px;
}

.form-container form {
  background: var(--grey-one-colour);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form h1 {
  margin-bottom: 20px;
}

.input-field input {
  background: var(--grey-one-colour);
  font-size: 16px;
  border: none;
  border-radius: 50px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border: 1px solid var(--light-button-hover);
  outline: none;
  transition: border-color 0.2s ease;
}

.input-field-transition:hover {
  border-color: white;
}

.input-field-transition:focus {
  border-color: var(--primary-colour);
}

.input-field {
  position: relative;
  width: 100%;
}

.input-field label {
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  text-align: left;
  padding: 0 5px;
  z-index: 3;
  pointer-events: none;
  top: 22px;
  left: 20px;
  font-size: 16px;
  transition: top 0.2s ease-out, color 0.2s ease, font-size 0.2s ease;
  color: var(--light-colour);
}

.overlay-panel h1 {
  color: var(--light-colour);
}

.input-field input:not(:placeholder-shown) ~ label {
  top: -3px;
  font-size: 12px;
  background-color: var(--grey-one-colour);
}

.inputColor {
  color: var(--light-colour);
}

.hide {
  display: none;
  transition: display 0.2s ease;
}

.suggestion {
  position: absolute;
  bottom: 0;
  left: 20px;
  pointer-events: none;
  padding: 0 5px;
  background-color: var(--grey-one-colour);
  color: var(--light-colour);
}

.suggestion-confirm {
  position: absolute;
  bottom: 0;
  left: 20px;
  pointer-events: none;
  padding: 0 5px;
  background-color: var(--grey-one-colour);
  color: var(--light-colour);
}

.error-message {
  position: absolute;
  bottom: 0;
  left: 20px;
  pointer-events: none;
  padding: 0 5px;
  background-color: var(--grey-one-colour);
  color: var(--error-colour);
}

.input-field input:focus ~ label {
  top: -4px;
  font-size: 12px;
  color: var(--primary-colour);
  background-color: var(--grey-one-colour);
}

/* .double-input input {
  width: 48.75%;
} */

.double-input {
  display: flex;
  flex-direction: row;
  gap: 2.5%;
  width: 100%;
}

.overlay-panel p {
  color: var(--light-colour);
}

button {
  border-radius: 50px;
  /* box-shadow: 0 1px 1px; */
  /* border: 1px solid var(--primary-colour); */
  border: none;
  background-color: var(--primary-colour);
  color: var(--light-colour);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:hover {
  transform: scale(101%);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.overlay button {
  background-color: var(--grey-one-colour);
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: center;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: var(--primary-colour);
  background: linear-gradient(
      to right,
      var(--primary-colour),
      var(--primary-colour)
    )
    no-repeat 0 0 / cover;
  color: var(--grey-colour);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateY(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

/* Move signin to right */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

/* Move overlay to left */
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Bring signup over signin */
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Move overlay back to right */
.container.right-panel-active .overlay {
  transform: translateX(50%);
}

/* Bring back the text to center */
.container.right-panel-active .overlay-left {
  transform: translateY(0);
}

/* Same effect for right */
.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.error-input {
  outline: 2px solid var(--error-colour) !important;
}

.error-label {
  color: var(--error-colour) !important;
}

@keyframes bobbing {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes shaking {
  0%,
  100% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

h1 {
  color: var(--primary-colour);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  width: 80%;
}

.mobile-view-btns {
  display: none;
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
  .container {
    min-width: 0px;
    width: 85%;
  }
}

@media only screen and (max-width: 699px) {
  .input-field label {
    left: 12px;
  }

  #username-input-div {
    margin-bottom: 10px;
  }

  #email-input-div {
    margin: 10px 0;
  }

  body {
    justify-content: flex-start;
  }

  #book {
    bottom: 35px;
  }

  #fork {
    right: 25px;
  }

  #sign-in-part-doohickey {
    background-color: var(--grey-one-colour);
    width: 100%;
    height: 100%;
    margin-top: -1px;
    transition: border-radius 0.1s ease;
    min-height: 300px;
  }

  .overlay-container {
    display: none;
  }

  .mobile-container {
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 70%;
    height: 80%;
    max-width: 100%;
    max-height: 100%;
    transition: 333ms;
    min-width: 300px;
    margin-top: 10vw;
  }

  .mobile-view-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .mobile-view-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 55px;
    background-color: var(--dark-two-colour);
    transition: background-color 0.3s ease;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  .mobile-view-btn span {
    color: var(--light-colour);
    font-size: 18px;
  }

  .mobile-view-btn-active {
    background-color: var(--grey-one-colour);
  }

  .mobile-sign-up-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-220%, -50%);
    transition: all 0.3s ease;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 75%;
  }

  .mobile-sign-in-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transition: all 0.3s ease;
    transform: translate(150%, -50%);
    display: flex;
    height: 75%;
  }

  .form-container form {
    padding: 0 0;
  }

  .sign-up-container {
    opacity: 1;
  }

  .mobile-sign-up-container.mobile-active {
    transform: translate(-50%, -50%);
  }
  .mobile-sign-in-container.mobile-active {
    transform: translate(-50%, -50%);
  }

  .double-input {
    flex-direction: column;
  }
}
