.title {
  height: 5%;
  margin-top: 2%;
  /*margin-left: 2%; */
  color: var(--primary-colour);
  font-size: 25px;
  font-family: Gabarito;
  margin-bottom: 2%;
}

.mainBg {
  background-color: var(--dark-one-colour);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 950px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  border-radius: 30px;
  margin-top: 75px;
  min-height: 92%;
  min-width: 900px;
  width: 70%;
  background-color: var(--grey-one-colour);
  padding-bottom: 25px;
}

#shopping-button {
  border-bottom: 2px var(--primary-colour) solid;
  background-color: var(--grey-one-colour);
}

.center-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.column-container {
  width: 100%;
  display: flex;

  font-family: Gabarito;
  color: var(--light-text-colour);
}

.column {
  width: 50%;
  display: flex;
  justify-content: center;
}

.recipe-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.ingredient-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 60%;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.shopping-list-entry-div {
  position: relative;
  border-radius: 10px;
  width: 230px;
  height: 160px;
  border: solid 3px var(--primary-colour);
  overflow: hidden;
}

.recipe-entry-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.shopping-list-entry-div-no-image {
  display: flex;
  height: auto;
  min-height: 50px;
}

.recipe-title-div {
  position: absolute;
  background-color: var(--dark-two-colour);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 0 0 20px 0;
}

.recipe-title-div-no-image {
  width: 100%;
  border-radius: 0px;
}

.recipe-list-entry-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ingredient-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.shopping-list-entry {
  font-size: 22px;
}

.column-title h2 {
  font-size: 32px;
}

.remove-button {
  height: 30px;
  aspect-ratio: 1;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 3px;
}

.remove-button:hover {
  background-color: var(--grey-two-colour);
}

@media only screen and (min-width: 700px) and (max-width: 900px) {
  .mainBg {
    min-width: 0px;
    width: 100vw;
  }

  .overlay {
    min-width: 0px;
    width: 90%;
  }
}

@media only screen and (max-width: 699px) {
  .mainBg {
    min-width: 0px;
    width: 100vw;
  }

  .overlay {
    min-width: 0px;
    width: 90%;
  }

  .column-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .title {
    margin-top: 2rem;
  }
}
