* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  /* pointer-events: none; */
}

/* NAVBAR */

.mainBg {
  padding-top: 7vh;
}

.main-nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-one-colour);
  border-bottom: 0px var(--light-button-hover) solid;
  box-shadow: 0 4px 13px -7px var(--light-button-hover); /*remove this shit if it looks dumb*/
  height: 7vh;
  max-height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-list {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: var(--light-text-colour);
  height: 100%;
  font-size: 18px;
  z-index: 2;
}

.nav-list-item a:visited {
  color: var(--light-text-colour);
}

.nav-list li:hover {
  background-color: var(--grey-one-colour);
  cursor: pointer;
}

.nav-list-item {
  height: 100%;
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0px 30px;
  border-radius: 7px;
  transition: background-color 0.15s;
}

.nav-list-link {
  all: unset;
  text-decoration: none;
  font-family: Gabarito;
}

.main-nav a {
  height: 100%;
}

.logo {
  height: 100%;
}

.user-menu {
  display: block;
  position: fixed;
  height: 0;
  width: auto;
  margin-top: 6px;
  margin-left: 89%;
  background: var(--dark-two-colour);
  border-radius: 8px;
  transition: height 0.06s ease-in;
}

.user-menu-list {
  position: relative;
  height: 100%;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  list-style-type: none;
  font-size: 17px;
  border-radius: 8px;
}

.user-menu-list-item {
  z-index: 1;
  display: none;
  padding: 12px 15px;
  color: var(--light-text-colour);
  font-family: Gabarito;
  border-radius: 8px;
  transition: background-color 0.15s, opacity 0.1s ease-in-out;
  opacity: 0;
}

.user-menu-list-item:hover {
  background-color: var(--grey-two-colour);
}

.user-menu-button-maintain-hover {
  background-color: var(--grey-two-colour) !important;
}

.user-menu-appear {
  height: auto;
}

.user-menu-item-appear {
  opacity: 1 !important;
  transition-delay: 0.015s;
}

.user-menu-item-block {
  display: block !important;
}

.user-menu-list a {
  all: unset;
}

/* SCROLLBAR */

::-webkit-scrollbar-thumb {
  background: var(--grey-one-colour);
  border-radius: 10px;
  width: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--grey-one-colour);
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-one-colour);
  z-index: 1;
  height: 90vh;
}

/* TEXT */
