.title {
  color: var(--primary-colour);
  font-size: 80px;
  font-family: Gabarito;
  margin-bottom: 2%;
}

.mainBg {
  background-color: var(--dark-one-colour);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.addRecipeMsg {
  padding: 20px 10px;
  display: block;
}

#shopping-list {
  height: 100%;
}

.user-menu {
  display: block;
  position: fixed;
  height: 0;
  width: 12%;
  margin-top: 6.5vh;
  margin-left: 87%;
  background: var(--dark-two-colour);
  border-radius: 15px;
  transition: height 0.06s ease-in;
}

.user-menu-list {
  position: relative;
  height: 100%;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  list-style-type: none;
  font-size: 17px;
}

.user-menu-list-item {
  z-index: 1;
  display: none;
  padding: 12px 15px;
  color: var(--light-text-colour);
  font-family: Gabarito;
  border-radius: 7px;
  transition: background-color 0.15s, opacity 0.1s ease-in-out;
  opacity: 0;
}

.user-menu-list-item:hover {
  background-color: var(--grey-one-colour);
}

.user-menu-button-maintain-hover {
  background-color: var(--grey-one-colour) !important;
}

.user-menu-appear {
  height: 20%;
}

.user-menu-item-appear {
  opacity: 1 !important;
  transition-delay: 0.015s;
}

.user-menu-item-block {
  display: block !important;
}

.user-menu-list a {
  all: unset;
}

/* Search section styles */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45vh;
}

.search-bar-div {
  max-width: 700px;
  width: 60%;
}

.search-input {
  width: 100%;
  height: 5vh;
  border-radius: 100px;
  font-size: 18px;
  padding-left: 25px;
  text-align: left;
  font-family: sans-serif;
  border: none;
  outline: 2px solid var(--primary-colour);
  background: transparent;
  transition: background-color 0.15s;
  color: var(--light-text-colour);
}

.search-input:hover {
  background-color: var(--searchHoverColor);
}

/* Recipe div styles */

.recipes {
  flex: 1;
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2));
  background-color: var(--grey-one-colour);
  border-radius: 40px 40px 0 0;
}

.recipe-container {
  text-align: center;

  /* min-height: 49vh; */
  height: 100%;
}

.recipe-div {

  width: 330px;
  height: 330px;

  background-color: var(--light-colour);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  font-family: Gabarito;
}

.recipe-div:last-child {
  margin-right: 0;
}

.recipe-div .img-container {
  position: relative;
  max-width: 100%;
  height: 190px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.recipe-div .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(253, 111, 64, 0.5));
}

.recipe-div .recipe-elements {
  margin: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.recipe-div .recipe-elements h2 {
  font-size: 26px;
  font-family: sans-serif;
}

.recipe-div .desc-div {
  font-size: 18px;
}

/* Recipe Modal Window Styles */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: var(--light-colour);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--grey-two-colour);
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
