.title {
  height: 5%;
  margin-top: 2%;
  margin-left: 2%;
  color: var(--primary-colour);
  font-size: 25px;
  font-family: Gabarito;
  margin-bottom: 2%;
}

.mainBg {
  background-color: var(--dark-one-colour);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 950px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  margin-top: 15px;
  min-height: 92%;
  min-width: 900px;
  width: 70%;
  background-color: var(--grey-one-colour);
}

.center-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.column-container {
  width: 100%;
  display: flex;
  font-family: Gabarito;
  color: var(--light-text-colour);
}
